<footer class="site-footer">

  <div id="copyright">
    &copy; {{year}}, Buena Vista City Public Schools.
  </div>

  <div id="social">
    <a href="https://www.facebook.com/pages/Buena-Vista-City-Public-Schools/145021112207748" rel="tooltip" title="Facebook" class="facebook">Facebook</a>
    <a href="{{ "feed.xml" | prepend: site.baseurl }}" rel="tooltip" title="RSS" class="rss">RSS</a>
    <a href="#" rel="tooltip" title="YouTube" class="youtube">YouTube</a>
  </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% for js in page.external-javascript %}
  <script src="{{ js }}"></script>
{% endfor %}
{% for js in page.javascript %}
  <script src="{{ js | prepend: site.baseurl }}"></script>
{% endfor %}
